[target.aarch64-apple-darwin]
rustflags = [
    "-A", "clippy::assigning_clones",
    "-A", "clippy::result_large_err",
    "-W", "clippy::await_holding_invalid_type",
    "-W", "clippy::cast_lossless",
    "-W", "clippy::redundant_closure_for_method_calls",
    "-W", "clippy::str_to_string",

    # https://doc.rust-lang.org/nightly/rustc/codegen-options/index.html#overflow-checks
    "-C", "overflow-checks=true",

    # Enable frame pointers for proper stack traces using "dumb" instrumentation
    # (i.e. anything not gdb)
    # https://doc.rust-lang.org/rustc/codegen-options/index.html#force-frame-pointers
    "-C", "force-frame-pointers=true",
]

[target.aarch64-unknown-linux-gnu]
rustflags = [
    "-A", "clippy::assigning_clones",
    "-A", "clippy::result_large_err",
    "-W", "clippy::await_holding_invalid_type",
    "-W", "clippy::cast_lossless",
    "-W", "clippy::redundant_closure_for_method_calls",
    "-W", "clippy::str_to_string",

    # https://doc.rust-lang.org/nightly/rustc/codegen-options/index.html#overflow-checks
    "-C", "overflow-checks=true",

    # Compressing debug information can yield hundreds of megabytes of savings.
    # The Rust toolchain does not currently perform dead code elimination on
    # debug info.
    #
    # See: https://github.com/rust-lang/rust/issues/56068
    # See: https://reviews.llvm.org/D74169#1990180
    "-C", "link-arg=-Wl,--compress-debug-sections=zlib",

    # Enable frame pointers for proper stack traces using "dumb" instrumentation
    # (i.e. anything not gdb)
    # https://doc.rust-lang.org/rustc/codegen-options/index.html#force-frame-pointers
    "-C", "force-frame-pointers=true",
]

[target.x86_64-unknown-linux-musl]
linker = "x86_64-linux-musl-gcc"
rustflags = [
    "-A", "clippy::assigning_clones",
    "-A", "clippy::result_large_err",
    "-W", "clippy::await_holding_invalid_type",
    "-W", "clippy::cast_lossless",
    "-W", "clippy::redundant_closure_for_method_calls",
    "-W", "clippy::str_to_string",

    # https://doc.rust-lang.org/nightly/rustc/codegen-options/index.html#overflow-checks
    "-C", "overflow-checks=true",

    # Compressing debug information can yield hundreds of megabytes of savings.
    # The Rust toolchain does not currently perform dead code elimination on
    # debug info.
    #
    # See: https://github.com/rust-lang/rust/issues/56068
    # See: https://reviews.llvm.org/D74169#1990180
    "-C", "link-arg=-Wl,--compress-debug-sections=zlib",

    # Enable frame pointers for proper stack traces using "dumb" instrumentation
    # (i.e. anything not gdb)
    # https://doc.rust-lang.org/rustc/codegen-options/index.html#force-frame-pointers
    "-C", "force-frame-pointers=true",
]

[target.x86_64-unknown-linux-gnu]
rustflags = [
    "-A", "clippy::assigning_clones",
    "-A", "clippy::result_large_err",
    "-W", "clippy::await_holding_invalid_type",
    "-W", "clippy::cast_lossless",
    "-W", "clippy::redundant_closure_for_method_calls",
    "-W", "clippy::str_to_string",

    # https://doc.rust-lang.org/nightly/rustc/codegen-options/index.html#overflow-checks
    "-C", "overflow-checks=true",

    # Compressing debug information can yield hundreds of megabytes of savings.
    # The Rust toolchain does not currently perform dead code elimination on
    # debug info.
    #
    # See: https://github.com/rust-lang/rust/issues/56068
    # See: https://reviews.llvm.org/D74169#1990180
    "-C", "link-arg=-Wl,--compress-debug-sections=zlib",

    # Enable frame pointers for proper stack traces using "dumb" instrumentation
    # (i.e. anything not gdb)
    # https://doc.rust-lang.org/rustc/codegen-options/index.html#force-frame-pointers
    "-C", "force-frame-pointers=true",
]
